.top {
    border: 5px solid red;
    text-align: center;
}

.top-level-drop {
    position: relative;
    display: inline-block;
    background-color: blue;
    border: solid 5px rgb(2, 2, 156);
    color: white;
    width: 250px;
  }
  .top-level-drop ul {
    list-style: none;
    display: none;
    padding: 0;
    margin: 0;
  }
  
.top-level-drop:hover ul {
    display: block;
  }
.top-level-drop li {
    background-color: blue;
    border: solid 5px rgb(2, 2, 156);
    color: white;
  }

  .top-level-drop li:hover {
    color: black;
    background-color: yellow;
  }
